# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

Demo/CrossNavigationDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Demo/CrossNavigationDemo.xcodeproj/project.xcworkspace/xcuserdata/artem.xcuserdatad/UserInterfaceState.xcuserstate
Demo/CrossNavigationDemo.xcodeproj/xcuserdata/artem.xcuserdatad/xcschemes/CrossNavigationDemo.xcscheme
Demo/CrossNavigationDemo.xcodeproj/xcuserdata/artem.xcuserdatad/xcschemes/xcschememanagement.plist
Breakpoints_v2.xcbkptlist

Swift/Demo/Build/*

*.moved-aside
DerivedData
.idea/

# xcode noise
build/*
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
*.mode1
*.mode2v3
*.mode1v3
xcuserdata

# osx noise
.DS_Store
Thumbs.db

