# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# http://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control?
#
# Pods/

Demo/CrossNavigationDemo.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Demo/CrossNavigationDemo.xcodeproj/project.xcworkspace/xcuserdata/artem.xcuserdatad/UserInterfaceState.xcuserstate
Demo/CrossNavigationDemo.xcodeproj/xcuserdata/artem.xcuserdatad/xcschemes/CrossNavigationDemo.xcscheme
Demo/CrossNavigationDemo.xcodeproj/xcuserdata/artem.xcuserdatad/xcschemes/xcschememanagement.plist
